@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body{
    background: #515932; 
    font-family: 'Montserrat', sans-serif;
    color: #3E363F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 20px;
}
li{
   margin-bottom: 2vh;
}
#contenedor{
    width: 60vw;
    height: 60vh;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
      0 10px 10px rgba(0,0,0,0.22);
    display: flex;
    flex-direction: row;
}

#calculadora, #detalle {
    width: 50%; /* Ajustado a 50% */
    height: 100%;
}

#calculadora {
    background: #F2CEA2;
}

#detalle{
    background: #A62934;
    color: #f6f5f7;
}

#historial{
    text-align: center;
    position: relative;
    bottom: 40px;
    max-height: 100px;
    width: 60vw;
    background: #D9725B;
    color: #3E363F;
    overflow-y: scroll;
    margin: 20px auto; /* Centrar */
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
      0 10px 10px rgba(0,0,0,0.22);
}

.contenido, .descripcion{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#error{
    color: red;
    font-weight: bold;
    display: none;
}

.resultado{
    color: #3E363F;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
    display: none;
}

input {
	width: 70%;
    padding: 12px 15px;
    border: none;
    background-color: #eee;
}

button {
    position: relative;
    top: 30px;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 45px;
    border-radius: 30px;
    background-color: #A62934;
    border: none;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 1px; 
    transition: transform 20ms ease-in;
    margin-bottom: 20px;
}

button:active {
    transform: scale(0.95);
}
